<tr id="track_cell_<%= track.id %>">
  <td>
      <div class="jp-gui ui-widget ui-widget-content ui-corner-all">
        <%= render 'tracks/audio_player_common_elements', track: track, is_entry_table: is_entry_table %>
        <div class="track-comment" id="comment_<%= track.id %>">
          <a>Comment</a>
        </div>
      </div>
      <div class="commentContainer" id="commentBox_<%= track.id %>"></div>
      <div class="infoContainer" id="infoBox_<%= track.id %>"></div>
  </td>
</tr>
<script>
  <%= render 'tracks/audio_player.js.erb', track: track %>
</script>
