<li id="commentCell_<%= comment.id %>">
  <div class="commenterImage">
    <% if User.find_by_id(comment.user_id).avatar.url %>
        <img src="<%= User.find_by_id(comment.user_id).avatar.url[/[^?]+/]%>">
    <% else %>
        <img src="/default_user.png">
    <% end %>
  </div>

  <span style="color: #FFFFFF;">
    <%= comment.user_name %>
  </span> 

  <span class="date sub-text"> 
    says at <%= comment.strftime %> <% if current_user && current_user.id == comment.user_id %> <i id="delete_comment_<%= comment.id %>" class="fa fa-times"></i><% end %>
  </span>
  
  <p style="color: #FFFFFF;">
    <%= comment.body %>
  </p>
  <script>
   <%= render 'tracks/comment_delete.js.erb', track: track, comment: comment %>
  </script>
</li>
