<head>
  <script src="/assets/jquery.min.js"></script>
  <link rel="import" href="<%= asset_path("pianoroll.html")%>">
  <link rel="import" href="<%= asset_path("trackview.html")%>">
  <link rel="import" href="<%= asset_path("transport.html")%>">
  <link rel="import" href="<%= asset_path("savebar.html")%>">
  <link rel="import" href="<%= asset_path("loopcontrol.html")%>">
  <link rel="import" href="<%= asset_path("guidescontrol.html")%>">
  <link rel="import" href="<%= asset_path("musicclock.html")%>">
  <link rel="import" href="<%= asset_path("countdown.html")%>">
  <link rel="import" href="<%= asset_path("editabletext.html")%>">
  <link rel="import" href="<%= asset_path("quantization.html")%>">
  <link rel="import" href="<%= asset_path("endmarker.html")%>">
  <link rel="import" href="<%= asset_path("duration.html")%>">
  <link rel="import" href="<%= asset_path("shadowbox.css")%>">
  <script src="<%= asset_path("shadowbox.js")%>"></script>
</head>
<!-- background: #252477; old purplish color 062A78-->
<style type="text/css">
  @font-face{
    font-family: 'Oswald';
    src: url('<%= asset_path("Oswald-Regular.ttf")%>');
  }

  #midi-interface {
    position: absolute;
    top: 150px;
    width: 100%;
  }
  body{
    font-family: 'Oswald', sans-serif;
  }
  #top-bar{
    /*background: #252477;*/
    background: #172837;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 51px;
    z-index: 4;
    padding: 10px;
    color: #FFFFFF;
  }
  denoto-transportbar{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  denoto-countdown{
    position: absolute;
    top: 25px;
    right: 270px;
  }
  denoto-savebar{
    float: right;
  }
  .navbar{
    position: fixed;
    z-index: 4;
    width: 100%;
  }
  #header_name{
    opacity: 0.9;
    text-align: center;
    font-size: 20px;
    position: relative;
    left: 100px;
  }
</style>

<div id="top-bar" height="75px">
  <denoto-transportbar id="transportbar"></denoto-transportbar>
  <denoto-editabletext id="header_name" type="longtext" width="300"></denoto-editabletext>
  <denoto-countdown id="countdowntimer"></denoto-countdown>
  <denoto-savebar id="savebar"></denoto-savebar>
  <br />
  <denoto-guidescontrol id="guidescontrol"></denoto-guidescontrol><denoto-quantizationcontrol id="quantizationcontrol"></denoto-quantizationcontrol><denoto-musicclock id="musicclock"></denoto-musicclock><denoto-endmarker id="endmarkercontrol"></denoto-endmarker></denoto-musicclock><denoto-duration id="durationcontrol"></denoto-duration>
  <br />
  <denoto-loopcontrol id="loopcontrol"></denoto-loopcontrol>
</div>

<div id="midi-interface">
  <denoto-trackview id="apptrackview"></denoto-trackview>
</div>

<script>
  document.addEventListener("keydown", function(){
    if(event.keyCode === 8){
      event.preventDefault(); // keep the stupid browser back from activation on backspace
    }
  });

  function render(){
    // this is just a dummy function for now
  }

  // instantiate Rhombus, add a pattern and a track to the song
  var rhomb = new Rhombus();
  var ptnId = rhomb._song.addPattern();
  var trkId = rhomb._song.addTrack();

  // add the pattern to the playlist at tick 0
  var playlistId = rhomb._song._tracks[trkId].addToPlaylist(ptnId, 0, 1920);

  // tell the pattern editor what pattern it is editing
  //var ptnEvent = new CustomEvent("denoto-createdpattern", {"detail": {"pattern": rhomb._song._patterns[ptnId]}});
  //document.getElementById("apppianoroll").dispatchEvent(ptnEvent);

  var lastKeypressed = 0;

  // keyboard events
  document.addEventListener("denoto-keydown",
    function(e){
      rhomb.startPreviewNote(e.detail.keyvalue);
    });
  document.addEventListener("denoto-keyup",
    function(e) {
      rhomb.stopPreviewNote(e.detail.keyvalue);
    });

  // piano roll events
  document.addEventListener("denoto-writenote",
    function(e){
      console.log("[PianoRoll] Writing note ID " + e.detail.note._id + " at tick " + e.detail.note._start + ", length " + e.detail.note._length);
      rhomb.Edit.insertNote(e.detail.note, ptnId);
    });
  document.addEventListener("denoto-erasenote",
    function(e){
      console.log("[PianoRoll] Erasing note ID " + e.detail.note._id + " at tick " + e.detail.note._start);
      rhomb.Edit.deleteNote(e.detail.note._id, ptnId);
    });
  document.addEventListener("denoto-updatenote",
  function(e){
    console.log("[PianoRoll] Updating note ID " + e.detail.note._id + " at tick " + e.detail.note._start + ", length " + e.detail.note._length);
    rhomb.Edit.changeNoteTime(e.detail.note._id, e.detail.note._start, e.detail.note._length, ptnId);
  });

  // transport bar events
  document.getElementById("transportbar").addEventListener("denoto-rewind", 
    function(e){ 
      console.log("[TransportBar] Rewind pressed");
      rhomb.moveToPositionTicks(0);
    });
  
  document.getElementById("transportbar").addEventListener("denoto-play", 
    function(e){ 
      console.log("[TransportBar] Play pressed");
      rhomb.startPlayback();
    });
  
  document.getElementById("transportbar").addEventListener("denoto-pause", 
    function(e){ 
      console.log("[TransportBar] Pause pressed");
      rhomb.stopPlayback();
    });
  
  document.getElementById("transportbar").addEventListener("denoto-stop",
     function(e){ 
      console.log("[TransportBar] Stop pressed");
      rhomb.stopPlayback();
      rhomb.moveToPositionTicks(rhomb.getLoopStart());
    });
  
  document.addEventListener("denoto-updateloopstart", updateLoopStart);
  document.addEventListener("denoto-updateloopend", updateLoopEnd);

  function updateLoopStart(e){ 
    console.log("[LoopControl] Updating loop start to " + event.detail.start);
    rhomb.setLoopStart(event.detail.start);
  }
  function updateLoopEnd(e){ 
    console.log("[LoopControl] Updating loop end to " + event.detail.end);
    rhomb.setLoopEnd(event.detail.end);
  }
  
  document.getElementById("transportbar").addEventListener("denoto-fastfwd", function(e){ console.log("[TransportBar] Fastfwd pressed") });

  document.getElementById("transportbar").addEventListener("denoto-loopToggle",
     function(e){ 
      console.log("[TransportBar] Loop pressed");
      rhomb.setLoopEnabled(!rhomb.getLoopEnabled());
      console.log("loopEnabled = " + rhomb.getLoopEnabled());
    });

  document.getElementById("savebar").addEventListener("denoto-export",
   function(e){ 
    console.log("[TransportBar] Export pressed");
    openShadowBox(rhomb.exportSong());
  });

  document.getElementById("savebar").addEventListener("denoto-import",
     function(e){ 
      console.log("[TransportBar] Import pressed");
      openShadowBox("<%= render 'import_form' %>");
    });

  document.getElementById("savebar").addEventListener("denoto-save",
     function(e){ 
      console.log("[TransportBar] Save pressed");
      <% if current_user %>
        <% if url_for(:back).include? '/competitions/' %>
          openShadowBox("<%= render 'competitions/save_track_for_competition', competition_id: url_for(:back).split('/')[-1] %>", 200, 100);
        <% elsif request.original_url.include? '/edit'%>
          uploadFile();
          openShadowBox("Your change has been saved.", 180, 80);
        <% else %>
          openShadowBox("<%= render 'save_track_form' %>", 200, 100);
        <% end %>
      <% else %>
        openShadowBox("Please sign in to save.", 180, 80);
      <% end %>
    });

  // countdown timer events
  document.getElementById("countdowntimer").addEventListener("denoto-endcountdown", function(e){ console.log("[CountdownTimer] Out of time!") });

  function openShadowBox(content, width, height) {
        Shadowbox.open({
        content:    content,
        player:     "html",
        height:     height ? height : 350,
        width:      width ? width : 350,
        options:   { enableKeys : false } 
    });
  }

  Shadowbox.init();

  function uploadFile(){
    if (document.getElementById("track_title") == null) {
      var title = '<%= @track.title %>';
    } else {
      var title = document.getElementById("track_title").value;
    }
    $.ajax({
      type:'GET',
      url:'/upload/new',
      data: { track_data: rhomb.exportSong(), track_title: title },
      error: function(request, status, error) {
        console.log(request);
        console.log(status);
        console.log(error);
      }
    });
  }

  function importSong(data){
    rhomb.importSong(data);
  }
</script>
