<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="import" href="<%= asset_path("keyboard.html")%>">
  <link rel="import" href="<%= asset_path("blackkey.html")%>">
  <link rel="import" href="<%= asset_path("whitekey.html")%>">
  <link rel="import" href="<%= asset_path("pianoroll.html")%>">
  <link rel="import" href="<%= asset_path("transport.html")%>">
  <link rel="import" href="<%= asset_path("countdown.html")%>">
</head>
<style type="text/css">
  body{0
    font-family: 'Oswald', sans-serif;
  }
  #top-bar{
    background: #448;
    width: 100%;
    position: fixed;
    top: 51px;
    z-index: 4;
  }
  denoto-transportbar{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  denoto-countdown{
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
  }
  .navbar{
    position: fixed;
    z-index: 4;
    width: 100%;
  }
</style>

<div id="top-bar" height="75px">
  <denoto-transportbar id="transportbar"></denoto-transportbar>
  <denoto-countdown id="countdowntimer"></denoto-countdown>
</div>

<img id="time_marker" src="<%= asset_path("pixel.png")%>" width="5" height="615" style="z-index: 3; position: absolute; left: 100px;" />

<div id="midi-interface">
  <denoto-keyboard id="appkeyboard" keycount="24"></denoto-keyboard>
  <denoto-pianoroll id="apppianoroll"></denoto-pianoroll>
</div>

<%= link_to 'Back', tracks_path %>

<script>
  function render(){
    var position = 100 + rhomb.seconds2Ticks(rhomb.getPosition()) / 3.1;
    if(position > 3695)
      position = 3695;
    document.getElementById('time_marker').setAttribute('style', 'z-index: 3; position: absolute; left: ' + position + 'px;');
    window.requestAnimationFrame(render);
  }

  var rhomb = new Rhombus();
  var lastKeypressed = 0;

  // keyboard events
  document.getElementById("appkeyboard").addEventListener("denoto-keydown", 
    function(e){
      rhomb.startPreviewNote(e.detail.keyvalue); 
  });

  document.getElementById("appkeyboard").addEventListener("denoto-keyup", 
    function(e) { 
      rhomb.stopPreviewNote(e.detail.keyvalue); 
    });
  
  // piano roll events
  document.getElementById("apppianoroll").addEventListener("denoto-writenote", 
    function(e){ 
    console.log("[PianoRoll] Writing note ID " + e.detail.note.id + " at tick " + e.detail.note._start); 
    rhomb.Edit.insertNote(e.detail.note);
  });
  document.getElementById("apppianoroll").addEventListener("denoto-erasenote", 
    function(e){
      console.log("[PianoRoll] Erasing note ID " + e.detail.note.id + " at tick " + e.detail.note._start);
      rhomb.Edit.deleteNote(e.detail.note.id);
    });

  // transport bar events
  document.getElementById("transportbar").addEventListener("denoto-rewind", 
    function(e){ 
      console.log("[TransportBar] Rewind pressed");
      rhomb.moveToPositionTicks(0);
    });
  
  document.getElementById("transportbar").addEventListener("denoto-play", 
    function(e){ 
      console.log("[TransportBar] Play pressed");
      rhomb.startPlayback();
      render();
    });
  
  document.getElementById("transportbar").addEventListener("denoto-pause", 
    function(e){ 
      console.log("[TransportBar] Pause pressed");
      rhomb.stopPlayback();
    });
  
  document.getElementById("transportbar").addEventListener("denoto-stop",
     function(e){ 
      console.log("[TransportBar] Stop pressed");
      rhomb.stopPlayback();
      rhomb.moveToPositionTicks(rhomb.getLoopStart());
    });
  
  document.getElementById("transportbar").addEventListener("denoto-fastfwd", function(e){ console.log("[TransportBar] Fastfwd pressed") });

  document.getElementById("transportbar").addEventListener("denoto-loopToggle",
     function(e){ 
      console.log("[TransportBar] Loop pressed");
      rhomb.setLoopEnabled(!rhomb.getLoopEnabled());
      console.log("loopEnabled = " + rhomb.getLoopEnabled());
    });

  // countdown timer events
  document.getElementById("countdowntimer").addEventListener("denoto-endcountdown", function(e){ console.log("[CountdownTimer] Out of time!") });

  function uploadFile(){
    $.ajax({
      type:'GET',
      url:'/upload/new',
      data: { track_data: rhomb.exportSong(), track_title: document.getElementById("track_title").value}
    });
  }
</script>