<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="import" href="<%= asset_path("keyboard.html")%>">
<link rel="import" href="<%= asset_path("blackkey.html")%>">
<link rel="import" href="<%= asset_path("whitekey.html")%>">
<link rel="import" href="<%= asset_path("pianoroll.html")%>">
</head>

<denoto-keyboard></denoto-keyboard>
<denoto-pianoroll></denoto-pianoroll>

<h1>Music editor here</h1>
Data to be uploaded to server 
<div><%= text_area_tag :track_data %></div>
<%= render 'form' %>
