<tr id="<%= track.id %>">
  <td>
    <div class="jp-gui ui-widget ui-widget-content ui-corner-all">
      <h1 class="track-rank">
        <%= competition_rank(track) %>
      </h1>
      <%= render '/tracks/audio_player_common_elements', track: track, is_entry_table: 'false' %>
      <div class="track-comment" id="comment_<%= track.id %>" style="left: 245px;">
        <a>Comment</a>
      </div>
      <% if competition.enddate > Time.now %>
        <div id="rate_<%= track.id %>" style="padding-top: 40px; padding-right: 100px;"></div>
      <% end %>
    </div>
    <div class="commentContainer" id="commentBox_<%= track.id %>" style="display: none; width: 895px; left: 82px;">
      <div class="titleBox">
        <label> 
          <i class="fa fa-comments"></i> <span id="commentCount_<%= track.id %>"><%= track.comments.count %></span> comments
        </label>
        <button type="button" class="close" aria-hidden="true" id="closeComment_<%= track.id %>">&times;</button>
      </div>
      <div class="actionBox">
          <ul class="commentList" id="commentList_<%= track.id %>">
              <% track.comments.order('id DESC').each do |comment| %>
                <%= render "/tracks/comment", comment: comment %>
              <% end %>
          </ul>
          <div class="col-lg-12">
            <div class="input-group">
              <input type="text" class="form-control" id="commentBody_<%= track.id %>" placeholder="Your comments">
              <span class="input-group-btn">
                <button class="btn btn-default" id="addComment_<%= track.id %>" type="button">Add</button>
              </span>
            </div>
          </div>
      </div>
    </div>
    <div class="infoContainer" id="infoBox_<%= track.id %>" style="width: 895px; left: 82px;"></div>
    <script>
      getPlayerElement("div", "rate", "<%= track.id %>").raty({
        score: <%= average_rating(track.ratings) %>,
        click: function(score) {
          <% if !current_user %>
            window.location.replace("/users/sign_in");
          <% end %>

          var ratingParams = {
            "track_id": "<%= track.id %>",
            "authenticity_token": "<%= form_authenticity_token %>",
            "score": score,
            "competition_id": "<%= track.competition_id %>"
          };

        $.ajax({
            type: "POST",
            url: "/ratings",
            data: ratingParams,
            success: function() {
              location.reload();
            }
          });
        }
      });
      <%= render '/tracks/audio_player.js.erb', track: track %>
    </script>
  </td>
</tr>