<head>
  <script src="/assets/jquery-ui-timepicker-addon.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.4.5/jquery-ui-timepicker-addon.css">
</head>
<script>
  Date.prototype.addHours= function(h) {
    this.setHours(this.getHours() + h);
    return this;
  }

  Number.prototype.padLeft = function(base,chr){
   var  len = (String(base || 10).length - String(this).length)+1;
   return len > 0? new Array(len).join(chr || '0')+this : this;
  }

  function UTCtoUsertime(usertime) {
    var UTC_hour_diff = (new Date().getTimezoneOffset())/60;
    var match = usertime.match(/^(\d+)-(\d+)-(\d+) (\d+)\:(\d+)\:(\d+)$/)
    var time = new Date(match[1], match[2] - 1, match[3], match[4], match[5], match[6]).addHours(UTC_hour_diff);

    return [ time.getFullYear(),
              (time.getMonth()+1).padLeft(),
              time.getDate().padLeft()].join('/')+
              ' ' +
            [ time.getHours().padLeft(),
              time.getMinutes().padLeft(),
              time.getSeconds().padLeft()].join(':');  
  }

  $(function() {
    $("#competition_startdate").datetimepicker({
      dateFormat: 'yy-mm-dd',
      timeFormat: 'HH:mm:ss',
      minDate: 0
    });

    $("#competition_enddate").datetimepicker({
      dateFormat: 'yy-mm-dd',
      timeFormat: 'HH:mm:ss',
      minDate: 0
    });
  });

  function adjustTimezone() {
    $("#competition_startdate").val(UTCtoUsertime($("#competition_startdate").val()));
    $("#competition_enddate").val(UTCtoUsertime($("#competition_enddate").val()));
  }
</script>

<%= form_for(@competition, html: {class: 'form-horizontal', id: 'new-competition', onsubmit: "adjustTimezone()"}) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>
      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :startdate, "Start Date", :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :startdate %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :enddate, "End Date", :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :enddate %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :constraints, :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :constraints, class: "form-control", placeholder: "Constraints" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "Create competition", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>  


