<head>
  <script src="/assets/jquery-ui-timepicker-addon.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.4.5/jquery-ui-timepicker-addon.css">
</head>
<script>
  Date.prototype.addHours= function(h) {
    this.setHours(this.getHours() + h);
    return this;
  }

  Number.prototype.padLeft = function(base,chr){
   var  len = (String(base || 10).length - String(this).length)+1;
   return len > 0? new Array(len).join(chr || '0')+this : this;
  }

  function usertimeToUTC(usertime) {
    var UTC_hour_diff = (new Date().getTimezoneOffset())/60;
    var match = usertime.match(/^(\d+)-(\d+)-(\d+) (\d+)\:(\d+)\:(\d+)$/)
    var time = new Date(match[1], match[2] - 1, match[3], match[4], match[5], match[6]).addHours(UTC_hour_diff);

    return [ time.getFullYear(),
              (time.getMonth()+1).padLeft(),
              time.getDate().padLeft()].join('/')+
              ' ' +
            [ time.getHours().padLeft(),
              time.getMinutes().padLeft(),
              time.getSeconds().padLeft()].join(':');  
  }

  $(function() {
    $("#competition_startdate").datetimepicker({
      dateFormat: 'yy-mm-dd',
      timeFormat: 'HH:mm:ss',
      minDate: 0
    });

    $("#competition_enddate").datetimepicker({
      dateFormat: 'yy-mm-dd',
      timeFormat: 'HH:mm:ss',
      minDate: 0
    });
  });

  function adjustTimezone() {
    $("#competition_startdate").val(usertimeToUTC($("#competition_startdate").val()));
    $("#competition_enddate").val(usertimeToUTC($("#competition_enddate").val()));
  }

  function cleanTextbox() {
    // empty constraints textbox if checkbox is not checked
  if(!$("#check_tracks").is(":checked")) {
   $("#competition_min_tracks").val("");
   $("#competition_max_tracks").val("");
  }
  if(!$("#check_instruments").is(":checked")) {
   $("#competition_min_instruments").val("");
   $("#competition_max_instruments").val("");
  }
  if(!$("#check_notes").is(":checked")) {
   $("#competition_min_notes").val("");
   $("#competition_max_notes").val("");
  }
  if(!$("#check_effects").is(":checked")) {
   $("#competition_min_effects").val("");
   $("#competition_max_effects").val("");
  }
  if(!$("#check_patterns").is(":checked")) {
   $("#competition_min_patterns").val("");
   $("#competition_max_patterns").val("");
  }
   // take only max value if min == max
   if ($("#competition_min_tracks").val() == $("#competition_max_tracks").val()) {
     $("#competition_min_tracks").val("");
   }
   if ($("#competition_min_instruments").val() == $("#competition_max_instruments").val()) {
     $("#competition_min_instruments").val("");
   }
   if ($("#competition_min_notes").val() == $("#competition_max_notes").val()) {
     $("#competition_min_notes").val("");
   }
   if ($("#competition_min_effects").val() == $("#competition_max_effects").val()) {
     $("#competition_min_effects").val("");
   }
   if ($("#competition_min_patterns").val() == $("#competition_max_patterns").val()) {
     $("#competition_min_patterns").val("");
   }
  }
</script>

<%= form_for(@competition, html: {class: 'form-horizontal', onsubmit: "adjustTimezone(); cleanTextbox();"}) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>
      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :startdate, "Start Date", :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :startdate %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :enddate, "End Date", :class => "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :enddate %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :constraints, :class => "col-sm-2 control-label" %>
  </div>

  <div class="form-group" style="padding-left: 5%; margin-top: 2%">
    <label class="col-sm-2 control-label" for="competition_number_of_tracks">Number of tracks<input id="check_tracks" type="checkbox" style="margin-left: 5%"></label>
    <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_min_tracks" name="competition[min_tracks]" placeholder="" type="text">
    </div>
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0; padding-right: 3%;">Minimum</label>
    <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_max_tracks" name="competition[max_tracks]" placeholder="" type="text">
    </div>
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0">Maximum</label> 
  </div>

  <div class="form-group" style="padding-left: 5%">
    <label class="col-sm-2 control-label" for="competition_number_of_instruments">Number of instruments<input id="check_instruments" type="checkbox" style="margin-left: 5%"></label>
    <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_min_instruments" name="competition[min_instruments]" placeholder="" type="text">
    </div> 
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0; padding-right: 3%;">Minimum</label>
    <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_max_instruments" name="competition[max_instruments]" placeholder="" type="text">
    </div>
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0">Maximum</label> 
  </div>

  <div class="form-group" style="padding-left: 5%">
   <label class="col-sm-2 control-label" for="competition_number_of_notes">Number of notes<input type="checkbox" id="check_notes" style="margin-left: 5%"></label> 
   <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_min_notes" name="competition[min_notes]" placeholder="" type="text">
    </div> 
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0; padding-right: 3%;">Minimum</label>
    <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_max_notes" name="competition[max_notes]" placeholder="" type="text">
    </div>
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0">Maximum</label> 
  </div>

  <div class="form-group" style="padding-left: 5%">
   <label class="col-sm-2 control-label" for="competition_number_of_effects">Number of effects<input type="checkbox" id="check_effects" style="margin-left: 5%"></label> 
   <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_min_effects" name="competition[min_effects]" placeholder="" type="text">
    </div> 
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0; padding-right: 3%;">Minimum</label>
    <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_max_effects" name="competition[max_effects]" placeholder="" type="text">
    </div>
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0">Maximum</label> 
  </div>

  <div class="form-group" style="padding-left: 5%">
   <label class="col-sm-2 control-label" for="competition_number_of_patterns">Number of patterns<input type="checkbox" id="check_patterns" style="margin-left: 5%"></label> 
   <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_min_patterns" name="competition[min_patterns]" placeholder="" type="text">
    </div> 
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0; padding-right: 3%;">Minimum</label>
    <div class="col-sm-1" style="width: 100px">
      <input class="form-control" id="competition_max_effects" name="competition[max_patterns]" placeholder="" type="text">
    </div>
    <label class="col-sm-1" style="padding-left: 0%; padding-top: 5px; width: 0">Maximum</label> 
  </div>
 <!-- 
  <div class="form-group" style="padding-left: 5%">
    <label class="col-sm-2 control-label" for="competition_use_specific_effects">Use specific effects<input type="checkbox" id="check_specific_effects" style="margin-left: 5%"></label>
    </div> 
  </div>

  <div class="form-group" style="padding-left: 5%">
    <label class="col-sm-2 control-label" for="competition_use_specific_instruments">Use specific instruments<input type="checkbox" id="check_specific_instruments" style="margin-left: 5%"></label>
  </div>-->
  <div class="form-group" style="padding-left: 5%">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit "Create competition", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>  


