<head>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script src="<%= asset_path("audioPlayer.js")%>"></script>
  <script src="<%= asset_path("countdown.js")%>"></script>
  <script src="<%= asset_path("gritter.js")%>"></script>
  <script src="<%= asset_path("shadowbox.js")%>"></script>
  <script src="/jquery.raty.js.erb"></script> 
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="<%= asset_path("jquery.countdown.js")%>"></script>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <link href="<%= asset_path("gritter.css")%>">
  <link rel="stylesheet" href="<%= asset_path("audioPlayer.css")%>">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="<%= asset_path("jquery.raty.css")%>">
  <link rel="stylesheet" href="<%= asset_path("countdown.css")%>">
</head>
<div style="margin-left: auto; margin-right: auto;">
  <h2 class="text-center"style="padding-top: 3%">
    <%= @competition.title %>
  </h2>
  <!--<p id="countdown" class="countdown text-center" style="font-weight: bold; font-size: 20px"></p>-->
  <div id="counter" class="text-center"></div>
  <div id="text">
    <div class="days">DAYS</div>
    <div class="hours">HOURS</div>
    <div class="minutes">MINUTES</div>
    <div class="seconds">SECONDS</div>
  </div>
  <p class="text-center">Created by <%= User.find(@competition.creator_id).username%></p>
    <%= render 'enter_competition_button' if is_competition_current(@competition) %>
  <p class="text-center">
    <% if @competition.min_tracks || @competition.max_tracks || @competition.max_instruments || @competition.min_instruments || @competition.max_notes || @competition.min_notes || @competition.max_effects || @competition.min_effects %>
    Use 
    <% end %>
    <% if @competition.min_tracks && @competition.max_tracks %>
      <%= @competition.min_tracks %> to <%= @competition.max_tracks %> tracks 
    <% elsif @competition.max_tracks %>
      at most <%= @competition.max_tracks %> tracks 
    <% elsif @competition.min_tracks %>
      at least <%= @competition.min_tracks %> tracks 
    <% end %>
  </p>
  <p class="text-center">
    <% if @competition.min_instruments && @competition.max_instruments %>
      <%= @competition.min_instruments %> to <%= @competition.max_instruments %> instruments 
    <% elsif @competition.max_instruments %>
      at most <%= @competition.max_instruments %> instruments
    <% elsif @competition.min_instruments %>
      at least <%= @competition.min_instruments %> instruments
    <% end %>
  </p>
  <p class="text-center">
    <% if @competition.min_notes && @competition.max_notes %>
      <%= @competition.min_notes %> to <%= @competition.max_notes %> notes 
    <% elsif @competition.max_notes %>
      at most <%= @competition.max_notes %> notes
    <% elsif @competition.min_notes %>
      at least <%= @competition.min_notes %> notes
    <% end %>
  </p>
  <p class="text-center">
    <% if @competition.min_effects && @competition.max_effects %>
      <%= @competition.min_effects %> to <%= @competition.max_effects %> effects 
    <% elsif @competition.max_effects %>
      at most <%= @competition.max_effects %> effects
    <% elsif @competition.min_effects %>
      at least <%= @competition.min_effects %> effects
    <% end %>
  </p>

  <table id="track-table" class="text-center" style="margin-left: auto; margin-right: auto;">
    <tbody id="ranked-tbody">
      <%= render 'ranked_table_body', tracks: @tracks, competition: @competition, is_entry_table: 'false' %>
    </tbody>
  </table>
</div>
<script>
  $('#counter').countdown({
      timestamp : new Date('<%= @competition.enddate %>').getTime()
  });

  function openShadowBox(content, width, height) {
    Shadowbox.open({
      content:    content,
      player:     "html",
      height:     height ? height : 350,
      width:      width ? width : 350,
      options:   { enableKeys : false } 
    });
  }

  Shadowbox.init();

  $(".choose_existing_track").click(function(e) {
    e.preventDefault();
    <% if current_user %>
      openShadowBox("<%= render 'choose_existing_track' %>", 300, 300);
    <% else %>
      openShadowBox("Please sign in to submit saved tracks.", 180, 80);
    <% end %>
  });

  function submit_existing_track(track_id) {
    var params = {
      "track_id": track_id,
      "competition_id": <%= @competition.id %>
    };

    $.ajax({
      type: "GET",
      url: "/competitions/enter_competition",
      data: params,
      success: function(response) {
        location.reload();
      }
    });
  }
</script>
<style>
   .enter-button {
    padding-bottom: 10px
   }
  #loading-img {
    position: absolute;
    left: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 130px;
    padding-top: 80px;
    padding-bottom: 10px;
  }
  #loader {
    position: relative;
  }
</style>
