<head>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script src="<%= asset_path("audioPlayer.js")%>"></script>
  <script src="<%= asset_path("countdown.js")%>"></script>
  <script src="<%= asset_path("gritter.js")%>"></script>
  <script src="<%= asset_path("shadowbox.js")%>"></script>
  <script src="<%= asset_path("jquery.raty.js.erb")%>"></script> 
  <link href="<%= asset_path("gritter.css")%>">
  <link rel="stylesheet" href="<%= asset_path("audioPlayer.css")%>">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="<%= asset_path("shadowbox.css.erb")%>">
  <link rel="stylesheet" href="<%= asset_path("jquery.raty.css")%>">
</head>

<p>.</p>
<h2 class="text-center">
  <%= @competition.title %>
</h2>
<p id="countdown" class="countdown text-center" style="font-weight: bold"></p>
  <%= render 'enter_competition_button' if is_competition_current(@competition) %>
<p class="text-center">
  <%= @competition.constraints %>
</p>
<div class="col-md-9" style="margin-top: 30px; margin-left: 100px;">
<table>
  <tbody id="ranked-tbody">
    <%= render 'ranked_table_body', tracks: @tracks, competition: @competition, is_entry_table: 'false' %>
  </tbody>
</table>
</div>
<script>
  var countDownParam = {
    start_time: new Date('<%= @competition.startdate %>').getTime(),
    end_time: new Date('<%= @competition.enddate %>').getTime(),
    element: document.getElementById("countdown")
  };
  startCountdown(countDownParam);

  function openShadowBox(content, width, height) {
    Shadowbox.open({
      content:    content,
      player:     "html",
      height:     height ? height : 350,
      width:      width ? width : 350,
      options:   { enableKeys : false } 
    });
  }

  Shadowbox.init();

  $(".choose_existing_track").click(function(e) {
    e.preventDefault();
    <% if current_user %>
      openShadowBox("<%= render 'choose_existing_track' %>", 300, 300);
    <% else %>
      openShadowBox("Please sign in to submit saved tracks.", 180, 80);
    <% end %>
  });

  function submit_existing_track(track_id) {
    var params = {
      "track_id": track_id,
      "competition_id": <%= @competition.id %>
    };

    $.ajax({
      type: "GET",
      url: "/competitions/enter_competition",
      data: params,
      success: function(response) {
        location.reload();
      }
    });
  }

</script>
<style>
   .enter-button {
    padding-bottom: 10px
   }
   .jp-gui {
    left: 70px;
    width: 900px;
   }
   .jp-volume-slider {
    left:750px;
   }
   .jp-gui li.jp-repeat,
   .jp-gui li.jp-repeat-off {
    margin-left:475px;
   }
   .jp-progress-slider {
    left:320px;
   }
   .jp-current-time {
    left:340px;
   }
   .track-title {
    left:270px;
   }
   .track-username {
    left:270px;
   }
  .jp-gui li.jp-play,
  .jp-gui li.jp-pause,
  .jp-gui li.jp-stop,
  .jp-gui li.jp-stop-off
  {
    left:240px;
  }
  .track-image {
    left: 160px;
  }
  .track-like {
    left:170px;
  }
  .track-favorite {
    left:200px;
  }
  .track-rank {
    padding-left: 30px;
    position: absolute;
  }
</style>