<tr>
  <td class="col-md-1" onclick="window.location.href = '/competitions/<%= competition.id %>';">
    <div style="margin-top: 5px;">
      <span class="competition-title lead" style="color: #243878; position: relative; left: 3%"><%= competition.title %></span>
      <span class="entries" style="position:relative; display: block; left: 3%; padding-top: 10px"><%= competition.tracks.count %> entries</span>
      <div id="countdown_<%= competition.id %>" class="countdown" style="position:relative; left: 85%; top: -50px; padding-top: -200px"></div> 
    </div>
  </td>
</tr>
<script>
  window['countdownParams_<%= competition.id %>'] = {
    start_time: new Date('<%= competition.startdate %>').getTime(),
    end_time: new Date('<%= competition.enddate %>').getTime(),
    element: document.getElementById("countdown_" + '<%= competition.id %>')
  }
  startCountdown(window['countdownParams_<%= competition.id %>']);
</script>
