<tr>
    <td class="col-md-1">
      <div style="height: 40px;">
        <span style="position: absolute; padding-top: 10px; padding-left: 10px"><%= rank %></span>
        <span style="position: relative; top: 0px; font-size: 7pt; padding-left: 50px;"><%= track.username %></span>
        <span style="position: relative; left: 50px; font-size: 9pt; display:block;  color: #000080;"><%= track.title %></span>
        <div style="position: relative; top: -60%; left: 70%; width: 50px">
          <img class="tb_button" id="play_<%= track.id %>" src="<%= asset_path("tb_play_sm.png")%>" onclick="playClicked(<%= track.id %>)" alt="Play" />
          <img class="tb_button" id="pause_<%= track.id %>" src="<%= asset_path("tb_pause_sm.png")%>" onclick="pauseClicked(<%= track.id %>)" alt="Play" style="display: none" />
          <img class="tb_button" id="stop_<%= track.id %>" src="<%= asset_path("tb_stop_sm.png")%>" onclick="stopClicked(<%= track.id %>)" alt="Play" />
        </div>
      </div>
    </td>
</tr>
