<tr>
    <td class="col-md-1">
      <div style="height: 40px;">
        <span class="toptrack-rank"><%= rank %></span>
        <span class="toptrack-composer"><%= track.username %></span>
        <span class="toptrack-title"><%= track.title %></span>
        <div style="position: relative; top: -35px; left: 160px;">
          <i class="fa fa-thumbs-o-up" style="font-size:0.7em;"> <%= track.likes.count %></i>
        </div>
        <div style="position: relative; top: -35px; left: 160px;">
          <i class="fa fa-heart" style="font-size:0.7em;"> <%= track.favorites.count %></i>
        </div>
      </div>
    </td>
</tr>