<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="<%= asset_path("shadowbox.js")%>"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <header id="myCarousel" class="carousel slide" style="height: 350px; background: #f0eff0;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" style="background-image: url('<%= asset_path("audiowave.jpg")%>'); width: 100%; height: 87%">
            <div class="carousel-caption" style="padding-bottom: 8%">
                <h1>Create Music with Denoto!</h1>
                <a href="/tracks/tutorial" role="button" class="btn btn-primary">Tutorial</a>
            </div>
        </div>
        <div class="item">
            <img src='<%= asset_path("editor.png")%>' style="margin: auto">
            <div class="carousel-caption" style="padding-bottom: 8%">
                <h1>In-Browser Music Editor</h1>
                <a href="/tracks" role="button" class="btn btn-primary">Listen to Tracks</a>
            </div>
        </div>
        <div class="item">
            <img width=700 height=300 src='<%= asset_path("rate.png")%>' style="margin: auto;">
            <div class="carousel-caption" style="padding-bottom: 8%">
                <h1>Enter Competition and Rate Songs</h1>
                <a href="/competitions/new" role="button" class="btn btn-primary">Create Competition</a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
  </header>
  <div class="container" style="width: 90%; height: 90%; padding-top: 5%;">
      <div class="row">
          <div class="col-md-3" style="width: 18%">
              <div class="list-group">
                  <a href="/tracks/new" class="list-group-item" style="text-align: center; color: #243878">Start New Track</a>
                  <a href="competitions/new" class="list-group-item" style="text-align: center; color: #243878">Create New Competition</a>
                  <a href="/tracks/tutorial" class="list-group-item" style="text-align: center; color: #243878">Tutorial</a>
              </div>
              <div style="color: #243878; text-align: center">Top Tracks</div>
              <table class="table table-hover table-nonfluid">
                  <tbody>
                      <% @global_top_five_tracks.each_with_index do |track, index| %>
                        <%= render "toptrack", track: track, rank: index + 1 %>
                      <% end %>
                  </tbody>
              </table>

              <div style="color: #243878; text-align: center">Recent Activity</div>
              <table class="table table-hover table-nonfluid">
                  <tbody>
                      <% @user_activities.each do |activity| %>
                        <%= render "recent_activity", activity: activity %>
                      <% end %>
                  </tbody>
              </table>
          </div>

          <div class="col-md-9" style="margin-bottom: 20px; width: 80%; padding-left: 3%;">
            <p class="lead" style="color: #243878; text-align: center;">Current Competitions</p>
              <table class="table table-hover table-nonfluid" style="table-layout: fixed; word-wrap: break-word; width: 150">
                  <tbody>
                      <% if @current_competitions.count == 0 %>
                        <tr>
                        <td class="col-md-1" style="text-align: center">
                          We don't have current competitions..
                        </td>
                        </tr>
                      <% else %>
                        <tr>
                          <% @current_competitions.each do |competition| %>
                            <%= render "current_competition", competition: competition %>
                          <% end %>
                        </tr>
                      <% end %>

                  </tbody>
              </table>
              
            <p class="lead" style="color: #243878; text-align: center">Previous Competitions</p>
              <table class="table table-hover table-nonfluid" style="table-layout: fixed; word-wrap: break-word; width: 150">
                  <tbody>
                      <% if @previous_competition.count == 0 %>
                        <tr>
                        <td class="col-md-1" style="text-align: center">
                          We don't have previous competitions..
                        </td>
                        </tr>
                      <% else %>
                        <tr>
                          <% @previous_competition.each do |competition| %>
                            <%= render "previous_competition", competition: competition %>
                          <% end %>
                        </tr>
                      <% end %>
                  </tbody>
              </table>

            <p class="lead" style="color: #243878; text-align: center">Upcoming Competitions</p>
              <table class="table table-hover table-nonfluid" style="table-layout: fixed; word-wrap: break-word; width: 150">
                  <tbody>
                      <% if @upcoming_competition.count == 0 %>
                        <tr>
                        <td class="col-md-1" style="text-align: center">
                          We don't have upcoming competitions..
                        </td>
                        </tr>
                      <% else %>
                        <tr>
                          <% @upcoming_competition.each do |competition| %>
                            <%= render "upcoming_competition", competition: competition %>
                          <% end %>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</body>
<script type="text/javascript">
Shadowbox.init({
    skipSetup: true
});

$(window).load(function() {
    navigator.sayswho = (function(){
    var ua = navigator.userAgent, tem,
    M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
    if(/trident/i.test(M[1])){
      tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
      return 'IE '+ (tem[1] || '');
    }
    if (M[1] === 'Chrome'){
      tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
      if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
    }
    M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
    if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
    if(M.join(' ').indexOf("Chrome") == -1) {
      Shadowbox.open({
        content:    "<p class='lead' style='padding: 30px; color: #243878'>Many features of our website are supported only in Chrome right now. Please try again with Chrome!</p>",
        player:     "html",
        title:      "Sorry!",
        height:     180,
        width:      350
      });
    }
  })();
});
</script>
<style>
  .tr:hover {
  background-color: #252477;
  }

  .table-hover > tbody > tr:hover {
     background-color: #EBEBF9;
  }

  .list-group > .list-group-item:hover {
  background-color: #EBEBF9;
  }

  header.carousel .item,
  header.carousel .item.active,
  header.carousel .carousel-inner {
      height: 100%;
  }
</style>
