<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="<%= asset_path("shadowbox.js")%>"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <header class="carousel" style="height: 120px; background: #172837;">
  <div class="carousel-caption"><h3>New to Denoto? Check out some <a style="cursor: pointer" href="/examples">example songs</a> and our <a style="cursor: pointer" href="/texttutorial">tutorial</a>!</h3></div> 
  </header>
  <div class="container" style="width: 90%; height: 90%; padding-top: 2%;">
      <div class="row">
          <div class="col-md-3" style="width: 18%">
              <div class="list-group">
                  <a href="/tracks/new" class="list-group-item" style="text-align: center; background: #243878; color: #FFFFFF;">Start New Track</a>
                  <a href="competitions/new" class="list-group-item" style="text-align: center; color: #243878">Create New Competition</a>
              </div>
              <div style="color: #FFFFFF; text-align: center; background: #172837; text-shadow: 1px 1px #444444; opacity: 0.9; padding-top: 5px; padding-bottom: 5px;">Top Tracks</div>
              <table class="table table-hover table-nonfluid" style="background: #FFFFFF;">
                  <tbody>
                      <% @global_top_five_tracks.each_with_index do |track, index| %>
                        <%= render "toptrack", track: track, rank: index + 1 %>
                      <% end %>
                  </tbody>
              </table>

              <div style="color: #FFFFFF; text-align: center; background: #172837; text-shadow: 1px 1px #444444; opacity: 0.9; padding-top: 5px; padding-bottom: 5px;">Recent Activity</div>
              <table class="table table-hover table-nonfluid" style="background: #FFFFFF;">
                  <tbody>
                      <% @user_activities.each do |activity| %>
                        <%= render "recent_activity", activity: activity %>
                      <% end %>
                  </tbody>
              </table>
          </div>

          <div class="col-md-9" style="margin-bottom: 20px; width: 80%; padding-left: 3%;">
            <p class="lead" style="color: #FFFFFF; text-align: center; background: #172837; text-shadow: 1px 1px #444444; opacity: 0.9; margin-top: 0px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px;">Current Competitions</p>
              <table class="table table-hover table-nonfluid" style="table-layout: fixed; word-wrap: break-word; width: 150; background: #FFFFFF;">
                  <tbody>
                      <% if @current_competitions.count == 0 %>
                        <tr>
                        <td class="col-md-1" style="text-align: center">
                          We don't have current competitions..
                        </td>
                        </tr>
                      <% else %>
                        <tr>
                          <% @current_competitions.each do |competition| %>
                            <%= render "current_competition", competition: competition %>
                          <% end %>
                        </tr>
                      <% end %>

                  </tbody>
              </table>
              
            <p class="lead" style="color: #FFFFFF; text-align: center; background: #172837; text-shadow: 1px 1px #444444; opacity: 0.9; margin-top: 0px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px;">Previous Competitions</p>
              <table class="table table-hover table-nonfluid" style="table-layout: fixed; word-wrap: break-word; width: 150; background: #FFFFFF;">
                  <tbody>
                      <% if @previous_competition.count == 0 %>
                        <tr>
                        <td class="col-md-1" style="text-align: center">
                          We don't have previous competitions..
                        </td>
                        </tr>
                      <% else %>
                        <tr>
                          <% @previous_competition.each do |competition| %>
                            <%= render "previous_competition", competition: competition %>
                          <% end %>
                        </tr>
                      <% end %>
                  </tbody>
              </table>

            <p class="lead" style="color: #FFFFFF; text-align: center; background: #172837; text-shadow: 1px 1px #444444; opacity: 0.9; margin-top: 0px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px;">Upcoming Competitions</p>
              <table class="table table-hover table-nonfluid" style="table-layout: fixed; word-wrap: break-word; width: 150; background: #FFFFFF;">
                  <tbody>
                      <% if @upcoming_competition.count == 0 %>
                        <tr>
                        <td class="col-md-1" style="text-align: center">
                          We don't have upcoming competitions..
                        </td>
                        </tr>
                      <% else %>
                        <tr>
                          <% @upcoming_competition.each do |competition| %>
                            <%= render "upcoming_competition", competition: competition %>
                          <% end %>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</body>
<script type="text/javascript">
var denoto_rhomb = makeDenotoRhombus(); 
Shadowbox.init({
    skipSetup: true
});

$(window).load(function() {
    navigator.sayswho = (function(){
    var ua = navigator.userAgent, tem,
    M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
    if(/trident/i.test(M[1])){
      tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
      return 'IE '+ (tem[1] || '');
    }
    if (M[1] === 'Chrome'){
      tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
      if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
    }
    M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
    if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
    if(M.join(' ').indexOf("Chrome") == -1) {
      Shadowbox.open({
        content:    "<p class='lead' style='padding: 30px; color: #243878'>Many features of our website are supported only in Chrome right now. Please try again with Chrome!</p>",
        player:     "html",
        title:      "Sorry!",
        height:     180,
        width:      350
      });
    }
  })();
});
</script>
<style>
  .tr:hover {
  background-color: #252477;
  }

  .table-hover > tbody > tr:hover {
     background-color: #EBEBF9;
  }

  .list-group > .list-group-item:hover {
  background-color: #EBEBF9;
  }
</style>
