<head>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script src="/assets/audioPlayer.js"></script>
  <script src="/assets/gritter.js"></script>
  <link rel="stylesheet" href="/assets/gritter.css">
  <link rel="stylesheet" href="/assets/audioPlayer.css">
  <link rel="stylesheet" href="/assets/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>
<div class="container" style="margin-top: 20px; margin-bottom: 20px; width: 800px;">
  <div class="row panel">
    <div class="col-md-4" id="image-box" onclick="document.getElementById('image-input').click(); return false;">
      <img class="profile-image" src="<%= @user.avatar.url %>">
      <img class="upload-image-icon overlay" src="/assets/upload_photo.png">
      <input id="image-input" type="file" style="visibility:hidden; width: 1px; height: 1px" multiple / >
    </div>
    <div class="col-md-8 col-xs-12">
       <div class="header">
            <h1> <%= @user.username %> </h1>
            <h4> Member since <%= @user.created_at %> </h4>
       </div>
    </div>
  </div>   
</div>

<div id="userActivity" class="row nav">   
    <div class="col-xs-6 col-md-3" style="margin-top: -10px; margin-left: 183px;">
        <div id="myTrack" class="col-sm-3 user-activity-bar"> 
          <i class="fa fa-music"></i> <%= @user.tracks.count%>
        </div>
        <div id="favorite" class="col-sm-3 user-activity-bar">
          <i class="fa fa-heart-o"></i> <%= @favorited_tracks.count%> 
        </div>
        <div id="like" class="col-sm-3 user-activity-bar">
          <i class="fa fa-thumbs-o-up"></i> <%= @liked_tracks.count%> 
        </div>
    </div>
</div>

<div id="myTracks"></div>

<div id="likedTracks"></div>

<div id="favoritedTracks"></div>

<script>
  $('#userActivity > div:eq(0) > #myTrack').click(function() {
    if ($("#myTracks").html().length == 0) {
      $("#myTracks").append("<%= escape_javascript(render(:partial => 'my_tracks_table')) %>");
    }

    $("#likedTracks").html("");
    $("#favoritedTracks").html("");
  });

  $('#userActivity > div:eq(0) > #favorite').click(function() {
    if ($("#myTracks").html().length == 0) {
      $("#favoritedTracks").append("<%= escape_javascript(render(:partial => 'favorited_tracks_table')) %>");
    }

    $("#myTracks").html("");
    $("#likedTracks").html("");
  });

  $('#userActivity > div:eq(0) > #like').click(function() {
    if ($("#likedTracks").html().length == 0) {
      $("#likedTracks").append("<%= escape_javascript(render(:partial => 'liked_tracks_table')) %>");
    }
    
    $("#myTracks").html("");
    $("#favoritedTracks").html("");
  });

  <% if current_user.id.to_s.eql? request.original_url.split('/')[-1] %>
    $("div[id='image-box']").click(function() {
      window.location.replace("/users/edit");
    });
  <% end %>
</script>

<style>
* {
    font-family: 'Open Sans', sans-serif;
}
.user-activity-bar {
  margin-top:-20px;
  background-color:#007FBD;
  border:2px solid #0077B2;
  text-align:center;
  cursor:pointer;
  font-size: 17px;
  padding: 15px;
  border-radius: 0px !important;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #F1F1F1;
}
.header {
  color : #808080;
  margin-left:10%;
  margin-top:70px;
}
.btn-style{
  color: #fff;
  background-color: #007FBE;
  border-color: #adadad;
  width: 33.3%;
}
.btn-style:hover {
  color: #333;
  background-color: #3D5DE0;
  border-color: #adadad;
  width: 33.3%;
}
.profile-image {
  padding-top: 10px;
  height: 200px;
  background-size: cover;
  z-index:2000;
}
.overlay {
  opacity: 0;
}
<% if current_user.id.to_s.eql? request.original_url.split('/')[-1] %>
  #image-box:hover {
    opacity: 0.4;
  }
  #image-box:hover .overlay {
    opacity: 1;
  }
<%end %>
.upload-image-icon {
  position:absolute;
  z-index:200;
  width: 50px;
  height: 50px;
  left: 80px;
  top: 80px;
}
</style>
