<meta charset="utf-8">
<head>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <script src="<%= asset_path("load-on-scroll.js")%>"></script>
  <link href="<%= asset_path("gritter.css")%>">
  <link rel="stylesheet" href="/assets/audioPlayer.css">
  <link rel="stylesheet" href="/assets/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>
<div class="container" style="margin-top: 20px; margin-bottom: 20px; width: 800px;">
  <div class="row panel">
    <div class="col-md-4" id="image-box">
      <img class="profile-image" src="<%= @user.avatar.url %>">
    </div>
    <div class="col-md-8 col-xs-12">
       <div class="header">
	    <h1> <%= @user.username %> </h1>
            <h4> Member since <%= @user.created_at.strftime('%m/%d/%Y') %> </h4>
            <button type="button" class="btn btn-primary" id="my_tracks_btn"><%= @user.tracks.count%> Tracks</button>
            <button type="button" class="btn btn-primary" id="entries_btn"><%= @my_entries.count%> Entries</button>
            <button type="button" class="btn btn-primary" id="liked_tracks_btn"><%= @liked_tracks.count%> Likes</button>
            <button type="button" class="btn btn-primary" id="favorited_tracks_btn"><%= @favorited_tracks.count%> Favorites</button>
       </div>
    </div>
  </div> 
  <div id="myTracks"></div>
  <div id="likedTracks"></div>
  <div id="favoritedTracks"></div>
  <div id="entries"></div>  
</div>
<script>
  $("#my_tracks_btn").click(function() {
    if ($("#myTracks").html().length == 0) {
      $("#myTracks").append("<%= escape_javascript(render(:partial => 'my_tracks_table')) %>");
      /*
      var pages = parseInt(<%= @my_tracks.total_pages %>, 10);
      var url = "/user/<%= @user.id %>?my=";
      loadOnScroll(pages, url, "myTracks");
      */
    }

    $("#likedTracks").html("");
    $("#favoritedTracks").html("");
    $("#entries").html("");
  });

  $("#favorited_tracks_btn").click(function() {
    if ($("#favoritedTracks").html().length == 0) {
      $("#favoritedTracks").append("<%= escape_javascript(render(:partial => 'favorited_tracks_table')) %>");
    }
    /*
    var pages = parseInt(<%= @favorited_tracks.total_pages %>, 10);
    var url = "/user/<%= @user.id %>?favorite=";
    loadOnScroll(pages, url, "favoritedTracks");
    */
    $("#myTracks").html("");
    $("#likedTracks").html("");
    $("#entries").html("");
  });

  $("#liked_tracks_btn").click(function() {
    if ($("#likedTracks").html().length == 0) {
      $("#likedTracks").append("<%= escape_javascript(render(:partial => 'liked_tracks_table')) %>");
    }
    /*
    var pages = parseInt(<%= @liked_tracks.total_pages %>, 10);
    var url = "/user/<%= @user.id %>?favorite=";
    loadOnScroll(pages, url, "likedTracks");
    */
    $("#myTracks").html("");
    $("#favoritedTracks").html("");
    $("#entries").html("");
  });

  $("#entries_btn").click(function() {
    if ($("#entries").html().length == 0) {
      $("#entries").append("<%= escape_javascript(render(:partial => 'entries_table')) %>");
    }
    /*
    var pages = parseInt(<%= @my_entries.total_pages %>, 10);
    var url = "/user/<%= @user.id %>?entry=";
    loadOnScroll(pages, url, "entries");
    */
    $("#myTracks").html("");
    $("#likedTracks").html("");
    $("#favoritedTracks").html("");
  });
</script>

<style>
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #F1F1F1;
}
.header {
  color : #808080;
  margin-left:10%;
  margin-top:70px;
}
.btn-style{
  color: #fff;
  background-color: #007FBE;
  border-color: #adadad;
  width: 33.3%;
}
.btn-style:hover {
  color: #333;
  background-color: #3D5DE0;
  border-color: #adadad;
  width: 33.3%;
}
.profile-image {
  padding-top: 10px;
  height: 200px;
  background-size: cover;
  z-index:2000;
}
.overlay {
  opacity: 0;
}
.jp-gui {
  left: 0px;
}
.commentContainer,
.infoContainer {
  left: 10px;
}
#loading-img {
  position: absolute;
  left: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 130px;
  padding-top: 80px;
  padding-bottom: 10px;
}
#loader {
  position: relative;
}
</style>
