<template>
  <style>
  #container{
    overflow-x: scroll;
    overflow-y: hidden;
    height: 93px;
  }
  #scroller{
    height: 75px;
    overflow: hidden;
  }
  #canvas{
    background: #EEEEEE;
  }
  #overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 75px;
  }
  #preload{
    display: none;
  }
  </style>
  <div id="scroller">
  <div id="container">
    <canvas id="canvas" width="3600" height="80" oncontextmenu="event.preventDefault(); return false;"></canvas>
  </div>
  </div>
  <div id="overlay"></div>
  <div id="preload">
    <img src='<%= asset_path("tb_pencil_cursor.png")%>' />
    <img src='<%= asset_path("tb_cursor_auto.png")%>' />
  </div>
</template>
<script src="<%= asset_path("automation.js")%>"></script>
<script>
(function() {
    // get the template for this element
    var template = document.currentScript.ownerDocument.querySelector('template');

    // copy a prototype from HTMLElement
    var automationPrototype = Object.create(HTMLElement.prototype);

    // specify the created callback ("constructor")
    automationPrototype.createdCallback = function() {
      var root = this.createShadowRoot();
      root.appendChild(document.importNode(template.content, true));
      var container = root.getElementById("container");
      var canvas = root.getElementById("canvas");
      var overlay = root.getElementById("overlay");
      var that = this;
      that.button = false;
      that.cursormode = 'draw';

      that.mode = "velocity";

      this.getNotesInRange = function(range){
        if(that.mode === "velocity")
          return rhomb.getSong().getPatterns()[that.ptnId].getNotesInRange(range.start, range.end);
        else if(that.mode === "parameter")
          return rhomb.getSong().getPatterns()[that.ptnId].getAutomationEventsInRange(range.start, range.end);
      }

      this.getSelectedNotes = function(){
        var pattern = rhomb.getSong().getPatterns()[that.ptnId];
        if(typeof pattern !== 'undefined')
          return pattern.getSelectedNotes();
        else
          return undefined;
      }

      this.getRange = function(x){
        var tick = x * that.displaySettings.TPP;
        var delta = 5 * that.displaySettings.TPP;
        var start = tick - delta;
        start = (start > 0) ? start : 0;
        var end = tick + delta;
        return {"start": start, "end": end};
      }

      // initial values for display settings. Gets overwritten as soon as the below event handler is called
      that.displaySettings = {TPP: 4, showguides: true, loopEnabled: false, quantization: (1920 / 16), timesig_num: 4, timesig_den: 4, snapto: true, endmarkerticks: (16 * 1920), maxmeasures: 16};

      root.host.addEventListener('denoto-displaysettings', function(){
        that.displaySettings = event.detail.displaySettings;
      });

      document.addEventListener('denoto-editpattern', function() {
        that.ptnId = event.detail.pattern._id;
      });

      document.addEventListener('denoto-editvelocity', function(){
        that.mode = "velocity";
        that.parameterIndex = undefined;
        if(typeof that.redrawVelocity !== 'undefined')
          that.redrawVelocity();
      });

      document.addEventListener('denoto-editparameter', function(){
        that.parameterIndex = event.detail.parameterIndex;
        that.mode = "parameter";
        if(typeof that.redrawParameters !== 'undefined')
          that.redrawParameters();
      });

      document.addEventListener('denoto-selectmode', function() {
        that.cursormode = 'select';
        if(that.mode === "velocity")
          overlay.style.cursor = 'url(<%= asset_path("tb_cursor_auto.png")%>) 12 3, auto';
        else
          overlay.style.cursor = 'url(<%= asset_path("tb_pencil_cursor.png")%>) 0 31, auto';  
      });

      document.addEventListener('denoto-drawmode', function() {
        that.cursormode = 'draw';
        overlay.style.cursor = 'url(<%= asset_path("tb_pencil_cursor.png")%>) 0 31, auto';
      });

      function getMouseX(){
        var pageOffset = document.body.getBoundingClientRect();
        var offset = canvas.getBoundingClientRect();
        return event.pageX - (offset.left - pageOffset.left);
      }

      function getParamValue(){
        var pageOffset = document.body.getBoundingClientRect();
        var offset = canvas.getBoundingClientRect();
        var mouseY = event.pageY - (offset.top - pageOffset.top); 
        return 1 - (mouseY / offset.height);
      }

      function isInVelocityRange(note, v){
        var d = 0.05;
        return (note.getVelocity() >= (v - d) && note.getVelocity() <= (v + d));
      }

      function filterByVelocity(notes, v){
        var returnArr = [];
        for(var i in notes){
          if(isInVelocityRange(notes[i], v)){
            returnArr.push(notes[i]);
          }
        }
        return returnArr;
      }

      overlay.addEventListener('mousedown', function(){
        event.preventDefault();
        var mouseX = getMouseX();
        var ticks;

        // set the button as down to notify the mousemove handler
        that.button = (event.button !== 2.0);
        that.deletebutton = (event.button === 2.0);
        
        if(that.mode === "velocity"){
          var onlySelected = false;

          // get the notes in this range
          if(that.cursormode === "select"){
            onlySelected = true;
            selectedNotes = [];
            var notesInRange = that.getNotesInRange(that.getRange(mouseX));
            
            if (that.getSelectedNotes().length > 0) {
              selectedNotes = filterByVelocity(notesInRange, getParamValue());

              // if the user clicked somewhere with no notes (in select mode), they're probably trying to deselect
              if(selectedNotes.length === 0){
                rhomb.getSong().getPatterns()[that.ptnId].clearSelectedNotes();

                var redrawEvent = new CustomEvent("denoto-redrawallnotes", {});
                document.dispatchEvent(redrawEvent);
              } else {
                var selected = false;
                for(var i in selectedNotes){
                  if(selectedNotes[i].getSelected()){
                    selected = true;
                    break;
                  }
                }

                // if none of the clicked notes are selected, they're probably trying to select them
                // so clear their existing selection, and use these. If not, then they will operate on their
                // previously-selected notes
                if(!selected){
                  rhomb.getSong().getPatterns()[that.ptnId].clearSelectedNotes();
                  for(var i in selectedNotes){
                    selectedNotes[i].select();
                  }

                  var redrawEvent = new CustomEvent("denoto-redrawallnotes", {});
                  document.dispatchEvent(redrawEvent);
                } else {
                  selectedNotes = that.getSelectedNotes();
                }
              }
            } else {
              selectedNotes = filterByVelocity(notesInRange, getParamValue());

              for(var i in selectedNotes){
                selectedNotes[i].select();
              }

              var redrawEvent = new CustomEvent("denoto-redrawallnotes", {});
              document.dispatchEvent(redrawEvent);
            }

            that.selectedNotes = selectedNotes;
          }
          else
          {
            if(that.getSelectedNotes().length > 0)
              onlySelected = true;
            that.selectedNotes = that.getNotesInRange(that.getRange(mouseX));
          }

          // edit the notes in rhombus
          rhomb.Edit.updateVelocities(that.selectedNotes, getParamValue(), onlySelected);
        } else if(that.mode === "parameter"){
          // quantize the mouse location, then get notes in that range
          ticks = mouseX * that.displaySettings.TPP;
          ticks = Math.floor(ticks / that.displaySettings.quantization) * that.displaySettings.quantization;

          if(that.deletebutton){
            rhomb.Edit.deleteAutomationEventsInRange(ticks, ticks + 1, that.ptnId);
          } else {
            rhomb.Edit.deleteAutomationEventsInRange(ticks, ticks + that.displaySettings.quantization, that.ptnId);
            rhomb.Edit.insertOrEditAutomationEvent(ticks, getParamValue(), that.ptnId);
          }

          that.notes = that.getNotesInRange({start: 0, end: that.displaySettings.endmarkerticks});
        }

        // reset all notes to default appearance
        that.clearCanvas();

        if(that.mode === "velocity"){
          that.drawVelocity(that.notes);
          // redraw the notes the mouse is currently over
          that.drawVelocity(that.selectedNotes, "#0000FF", "#9999FF");
        } else if(that.mode === "parameter"){
          that.drawParameter(that.notes);
        }
      });

      overlay.addEventListener('mouseup', function(){
        that.button = false;
        that.deletebutton = false;
        that.selectedNotes = that.getSelectedNotes();
      });      

      document.addEventListener('mouseup', function(){
        that.button = false;
        that.deletebutton = false;
        that.selectedNotes = that.getSelectedNotes();
      });

      overlay.addEventListener('mousemove', function(){
        event.preventDefault();
        var mouseX = getMouseX();
        var notes = [];
        var ticks;
        if(that.mode === "velocity"){
          if(that.cursormode === "select"){
            notes = that.getNotesInRange(that.getRange(mouseX));
            notes = filterByVelocity(notes, getParamValue());
          } else {
            notes = that.getNotesInRange(that.getRange(mouseX));
          }
        } else if(that.mode === "parameter"){
          ticks = mouseX * that.displaySettings.TPP;
          ticks = Math.floor(ticks / that.displaySettings.quantization) * that.displaySettings.quantization;
        }

        if(notes.length > 0){
          if(that.mode === "parameter" || that.cursormode === "draw"){
            that.selectedNotes = notes;
          }
        } else {
          if(that.button && that.mode === "velocity"){
            notes = that.selectedNotes;
          }
        }
        
        if(that.mode === "velocity" && that.button){

          var onlySelected = that.cursormode === "select" || (that.cursormode === "draw" && that.getSelectedNotes().length > 0);

          // edit the notes in rhombus
          rhomb.Edit.updateVelocities(that.selectedNotes, getParamValue(), onlySelected);
        } else if(that.mode === "parameter"){
          if(that.deletebutton){
            rhomb.Edit.deleteAutomationEventsInRange(ticks, ticks + 1, that.ptnId);
            that.notes = that.getNotesInRange({start: 0, end: that.displaySettings.endmarkerticks});
          } else if(that.button) {
            rhomb.Edit.deleteAutomationEventsInRange(ticks, ticks + that.displaySettings.quantization, that.ptnId);
            rhomb.Edit.insertOrEditAutomationEvent(ticks, getParamValue(), that.ptnId);
            that.notes = that.getNotesInRange({start: 0, end: that.displaySettings.endmarkerticks});
          }
        }

        // reset all notes to default appearance
        that.clearCanvas();

        if(that.mode === "velocity"){
          that.drawVelocity(that.notes);
          // highlight the notes the mouse is currently over
          if(that.cursormode === "draw" || typeof that.selectedNotes === 'undefined' || that.selectedNotes.length === 0){
            that.drawVelocity(notes, "#0000FF", "#9999FF");
          } else {
            that.drawVelocity(that.selectedNotes, "#0000FF", "#9999FF");

            var vel = Math.round(that.selectedNotes[0].getVelocity() * 1000) / 1000.0;
            var velEvent = new CustomEvent('denoto-notepane-updatevelocity', {detail: {"velocity": vel}});
            document.dispatchEvent(velEvent);
          }
        } else if(that.mode === "parameter"){
          that.drawParameter(that.notes);
        }
      });

      overlay.addEventListener('mouseout', function(){
        if(!that.button){
          that.selectedNotes = that.getSelectedNotes();
          that.clearCanvas();
          if(that.mode === "velocity"){
            that.redrawVelocity();
          } else if (that.mode === "parameter"){
            that.drawParameter(that.notes);
          }
        }
      });

      overlay.addEventListener('contextmenu', function(){
        event.preventDefault();
      });
    };

    // specify the attached callback
    automationPrototype.attachedCallback = function() {
      var root = this.shadowRoot;
      var container = root.getElementById("container");
      var that = this;
      var canvas = root.getElementById("canvas");
      var context = canvas.getContext("2d");

      this.drawVelocity = function(notes, outlineColor, fillColor){
        if(typeof outlineColor === 'undefined') outlineColor = "#000000";
        if(typeof fillColor === 'undefined') fillColor = "#FF0000";

        for(var i in notes){
          var note = notes[i];
          drawNeedle(context, note.getVelocity(), note.getStart(), that.displaySettings, outlineColor);
        }
        for(var i in notes){
          var note = notes[i];
          drawHead(context, note.getVelocity(), note.getStart(), that.displaySettings, outlineColor, fillColor);
        }
      }

      this.redrawVelocity = function(){
        that.notes = that.getNotesInRange({"start": 0, "end": that.displaySettings.endmarkerticks});
        that.clearCanvas();
        that.drawVelocity(that.notes);
        if(typeof that.selectedNotes !== 'undefined')
          that.drawVelocity(that.selectedNotes, "#0000FF", "#9999FF");
      }

      this.redrawParameters = function(){
        that.notes = that.getNotesInRange({"start": 0, "end": that.displaySettings.endmarkerticks});
        that.clearCanvas();
        that.drawParameter(that.notes);
      }

      this.drawParameter = function(notes, outlineColor, fillColor){
        if(typeof outlineColor === 'undefined') outlineColor = "#2222AA";
        if(typeof fillColor === 'undefined') fillColor = "#8888FF";

        // draw the first block
        if(typeof notes !== 'undefined' && notes.length > 1){
          drawBlock(context, 0, 0.5, 0, notes[0].getTime(), notes[0].getValue(), that.displaySettings, outlineColor, fillColor);

          for(var i in notes){
            var note = notes[i];
            var next = notes[parseInt(i)+1];
            var prev = notes[parseInt(i)-1];
            
            // get the value of the previous rectangle
            if(typeof prev !== 'undefined')
              prev = prev.getValue();
            else
              prev = 0.5;

            if(typeof next !== 'undefined'){
              drawBlock(context, prev, note.getValue(), note.getTime(), next.getTime(), next.getValue(), that.displaySettings, outlineColor, fillColor);
            } else {
              drawBlock(context, prev, note.getValue(), note.getTime(), that.displaySettings.endmarkerticks, 0, that.displaySettings, outlineColor, fillColor);
            }
          }
        } else if(typeof notes !== 'undefined' && notes.length === 1) {
          drawBlock(context, 0, notes[0].getValue(), notes[0].getTime(), that.displaySettings.endmarkerticks, 0, that.displaySettings, outlineColor, fillColor);
        }
      }

      this.clearCanvas = function(){
        context.clearRect(0, 0, canvas.getAttribute("width"), canvas.getAttribute("height"));
      }

      this.redraw = function(){
        if(that.mode === "velocity"){
          that.redrawVelocity();
        } else if(that.mode === "parameter"){
          that.redrawParameters();
        }
      }

      this.redraw();

      document.addEventListener("denoto-refreshautomation", that.redraw);
    };

    // specify the detached callback
    automationPrototype.detachedCallback = function() {
      var root = this.shadowRoot;
      var container = root.getElementById("container");
      var that = this;

      document.removeEventListener("denoto-refreshautomation", that.redraw);
    };

    // specify the attached callback
    automationPrototype.attributeChangedCallback = function(attrName, oldVal, newVal) {
      var root = this.shadowRoot;
      var container = root.getElementById("container");
      var that = this;
      var canvas = root.getElementById("canvas");
      
      if(attrName.toLowerCase() === 'width' && typeof newVal !== 'undefined'){
        var width = parseInt(newVal);
        canvas.setAttribute("width", width);
        canvas.style.width = width + "px";
        if(typeof that.redraw !== 'undefined')
          that.redraw();
      } else if(attrName.toLowerCase() === 'scrollleft' && typeof newVal !== 'undefined'){
        var scrollLeft = parseInt(newVal);
        container.scrollLeft = scrollLeft;
      }

      
    };

    // register the element
    var automation = document.registerElement('denoto-automation', {prototype: automationPrototype});
  })();
  </script>
