<!DOCTYPE html>
<html>
<head>
  <title>SoundSplosion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <a class="navbar-brand" style="padding:0px ! important;" href="/"><%= image_tag("logo.png") %></a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/competitions">Competitions</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if user_signed_in? %>
          <li><a href="/user/<%= current_user.id %>">Profile</a></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
	          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></a></li>
	          <li><a href="/users/sign_up">Sign Up</a></li>
	      <% end %>
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
