<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="/icon-32x32.png" sizes="32x32" />
  <title>Denoto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
  #dropdown-login {
    width: 300px;
  }
  .login-input {
    padding-left: 40px;
    width: 250px;
  }
  @font-face{
    font-family: 'Oswald' !important;
    src: url('<%= asset_path("Oswald-Regular.ttf")%>');
  }
  body{
    font-family: 'Oswald', sans-serif !important;
  }
</style>
<body>
<nav class="navbar navbar-default" role="navigation" style="height: 55px ! important; z-index: 6;">
  <div class="container-fluid" style="height: 55px ! important;">
      <a class="navbar-brand" style="padding:0px ! important;" href="/"></a>
      <ul class="nav navbar-nav">
        <li class="navbar-link"><a href="/" style="color: #252477">Home</a></li>
        <li class="navbar-link"><a href="/tracks" style="color: #252477">Tracks</a></li>
        <li class="navbar-link"><a href="/competitions" style="color: #252477">Competitions</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <img src="<%= asset_path("denoto-logo.png")%>" style="height: 75px; z-index: 5; padding-right: 2%;">
          <% if user_signed_in? %>
          <li class="navbar-link" style="padding-top: 2%; padding-left: 0%;">
	  <div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="color: #252477">
	    Profile
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" href="/user/<%= current_user.id %>" style="color: #252477; text-align: center;">My profile</a></li>
	    <li role="presentation"><a role="menuitem" href="/users/edit" style="color: #252477; text-align: center">Edit profile</a></li>
  </ul>
</div>
</li>
          <li class="navbar-link"><%= link_to "Logout", destroy_user_session_path, method: :delete, :style => 'color: #252477'  %></li>
          <% else %>
	          <li class="navbar-link">
              <a class="btn dropdown-toggle" style="color: #252477" data-toggle="dropdown" href="#">Login <span class="caret"></span></a>
                <ul id="dropdown-login" class="dropdown-menu" style="padding: 5px 10px 0px 10px;">
                   <form accept-charset="UTF-8" action="/users/sign_in" class="form-horizontal" id="new_user" method="post"> 
                    <div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"></div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="user_email">Email</label>
                        <div class="col-sm-6 login-input">
                          <input autofocus="autofocus" class="form-control" id="user_email" name="user[email]" placeholder="Email" type="email" value="">
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="user_password">Password</label>
                        <div class="col-sm-6 login-input">
                          <input autocomplete="off" class="form-control" id="user_password" name="user[password]" placeholder="Password" type="password">
                        </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-6"> 
                        <label for="user_remember_me">Remember me</label>
                        <input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
                      </div>
                    </div>

                    <div class="form-group" style="padding-left: 30px">
                      <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-primary" name="commit" type="submit" value="Log in">
                      </div>
                    </div>
                  </form>
                </ul>
            </li>
	          <li><a href="/users/sign_up" style="color: #252477">Sign Up</a></li>
	      <% end %>
        </li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
<script>
  $("#dropdown-login").click(function(e) {
    e.stopPropagation();
  });
</script>
</body>
</html>
